    .produtos{
        width: 70vw;
        margin: 0 auto;
        padding: 20px;
    }

    .titulos{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .titulos h2{
    font-size: 3.5rem;
    margin-bottom: 25px;
    font-weight: 500;
    font-family: var(--font-title);
    color: var(--background);
    }


   .titulos p{
      font-size: 1.1rem;
      color: #000000;
      margin-top: 30px;
   }

   .titulos h2{
      font-family: var(--font-title);
   }

   .produtos-grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin-top: 30px;
      color: var(--background);
   }

   .card{
      border: 1px solid #fff;
      border-radius: 8px;
      overflow: hidden;
      background: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }

   .card-image {
      position: relative;
      background:#f8f8f8;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
   }

   .card img {
      width: 100%;
      height: auto;
      display: block;
      transition: scale (1.05);
   }
   
   .badge-desconto{
      position: absolute;
      top: 10px;
      right: 10px;
      background: var(--primary-color);
      color: var(--text-color);
      font-size: 14px;
      font-weight: bold;
      padding: 4px 8px;
      border-radius: 4px;
   }

   .badge-venda{
      position: absolute;
      top: 10px;
      right: 10px;
      background: var(--primary-color);
      color: var(--text-color);
      font-size: 14px;
      font-weight: bold;
      padding: 4px 8px;
      border-radius: 4px;
   }

   .card-info {
      padding: 15px;
      text-align: center;
   }

   .card-info h3 {
      font-size: 1.2rem;
      margin-bottom: 10px;
      color: var(--background);
      font-weight: 400;
   }

   .preco{
    font-size: 18px;
    font-weight: bold;
    color: var(--background);
    margin-bottom: 15px;
   }

   /* === RESPONSIVIDADE ===*/

   @media (max-width: 1024px) {
   .produtos-grid{
      grid-template-columns: repeat(2, 1fr);
   }

   .card-info h3 {
      font-size: 14px;
   }

   .preco{
      font-size: 16px;
   }
}

@media (max-width: 768px){ /* corrigido: max-widht -> max-width */
  .titulos h2{
     font-size: 2rem;
  }

  .titulos p{
     font-size: 1rem;
     margin-top: 20px;
  }

  .produtos-grid{
     grid-template-columns: repeat(1, 1fr);
  }

  .card-image img{
      width: 70%;
  }

  .btn{
   font-size: 12px;
   padding: 8px 14px;
  }
}
   